/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top:21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin:30px 0px;
}
/* top player style */
.section-title{
    color:#562EFF;
    font-size:24px;
    margin-bottom: 30px;
    margin-top:3px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height:56px;
    width: 56px;
    margin-right:16px;
}
.player-name{
    font-size:18px;
}
/* top-blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog h3{
    font-size: 20px;
    margin: 0;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px; 
}
.blog-info{
    margin-left:16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    color:#562EFF ;
}
/* latest courses */
.latest-courses-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 28px;
}
.course{
    width: 253px;
    padding-left: 13px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-detail h2{
    font-size: 20px;
    margin: 0;
}
.course-detail p{
    font-size: 14.5px;
    color: #ED6B4F;
    line-height: 17.5px;
    margin: 0;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    background-color:  #FFE4E8;
    width: 94px;
    text-align: center;
    border-radius: 40px;
    color: #FF4A60;
}
/*-------------------
 Midea Queries 
 ------------------*/

 @media only screen and (max-width:688px) {
     .container{
         width:100%;
     }
     .players{
         grid-template-columns: repeat(1,1fr);
     }
     .player,.blog{
        flex-direction: column;
     }
     .blogs{
         grid-template-columns: repeat(1,1fr);
         text-align: center;
     }
     .latest-courses-parent{
         grid-template-columns: 1fr;
         grid-template-rows:repeat(3,1fr) ;
         grid-row-gap:30px ;
         text-align: center; 
     }
     .course{
         width:100%;
     }
     .course-info{
         justify-content: space-evenly;
     }
 }
 /* tablet screen */
 @media only screen and (min-width:690px) and (max-width:998px) {
    .container{
        width:100%;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .latest-courses-parent{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 30px;
    }
 }